<div class="footer">
    <ul id="main">
        <li class="footerContent">
            <ul>  
                <li><a href="">Privacy Policy |</a></li>  
                <li><a href="">Terms & Conditions.                 |</a></li>  
                <li><a href="">Disclaimer</a></li>  
            
            </ul>
        </li>
        <li class="footerContent">
            
            <a href=""><span><i class="fa fa-twitter"></i></span></a>
            <a href=""><span><i class="fa fa-facebook"></i></span></a>
            <a href=""><span><i class="fa fa-instagram"></i></span></a>
            <a href="/admin"><span><i class="fa fa-group"></i></span></a>
        
        
        </li>
          
    </ul>

</div>