<link rel="stylesheet" href="/css/links.css">
<%- include('_header') -%>

<section id = "links">
<div id="links_section">
    <div class="row">
        <div class="col col-3 col-md-3 col-sm-12 col-xs-12" id="bg_img_1">
            <ul >
                <li><a href="">History</a></li>
                <li><a href="">Yug</a></li>
                <li><a href="">Ved/Puran</a></li>
                <li><a href="">Sanskar</a></li>
                <li><a href="">Singar</a></li>
                <li><a href="">Vansha bali</a></li>
                <li><a href="">Dharmik Book</a></li>
            </ul>
        </div>
        <div class="col col-3  col-md-3 col-sm-12 col-xs-12" id="bg_img_2">
            
            <ul id="link_center">
                <li>Current Affairs & News</li>
       
            </ul>

      
        
    
           
            
            <ul id="published_newz">
                <% for (news of newz) { %>
                   
                        <li>
                            <% if (news.avatar){%>
                            <img src="<%= news.avatar%>" id="newz_image" width="97%" height="200px">
                            <%}%> 
                            <span><%=news.news%></span>
                        </li><br>           
            <%}%>
        </ul>
        
           
        
        
        </div>
        <div class="col col-3  col-md-3 col-sm-12 col-xs-12" id="bg_img_3">
           
            <ul >
                <li><a href="">Arti</a></li>
                <li><a href="">Chalisa</a></li>
                <li><a href="">Katha</a></li>
                <li><a href="">Shubh Ghadi</a></li>
                <li><a href="">Panchang</a></li>
            </ul>
        
        </div>        
    </div>
</div>

</section>

<%- include('_footer') -%>



