<link rel="stylesheet" href="/css/home.css">
<!-- Div For the center Moment -->
<script src= 'js/home.js' type=''></script>
<section>
    <div id='image_slide_show'>
        <img src='images/shri-ram-photos (34).jpg' class="mySlides">
        <img src='images/shri-ram-photos (41).jpg' class="mySlides">
        <img src='images/shri-ram-photos (45).jpg' class="mySlides">
    </div>
    <div id='next_page_button'>
        <button class="btn btn-primary" id ="myButton">Go</button>
    </div>
    
</section>
