#image_slide_show{
    padding:20px 10px 0px 10px;
        img{
        width:100%;
       height:900px;
        
    }
  
}
#next_page_button {
    width: 100%;
    position: absolute;
    top: 850px;
    text-align: center;
    button{
        width:10%;
        border-radius: 25px;
    }

  }
