#links{
    position:relative;   
    width:100%;
    height:839px;
    background-color: #D3D3D3;
    #links_section{
        width: 100%;
        position: absolute;
        top: 80px;

           
        ul{
            margin-left:150px;
            padding:25px 25px 25px 25px;
                       

            li{
                padding: 5px 0px 5px 10px;
                
                a{
                font-size: 24px;
                color:white;
                font-weight: 700;
                }
                a:hover{
                    color:yellow;
                }
            }
        }

        #link_center{

            margin-left: 100px;
            padding: 25px 135px 15px 25px;
            text-align: center;
           
        }
      
        #bg_img_1{
            
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/thomas-charters-zAi2Is48-MA-unsplash.jpg');
            background-position: center;
            background-size: cover;
            left:150px;
            
        }
        #bg_img_2{
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/thomas-charters-zAi2Is48-MA-unsplash.jpg');
            background-position: center;
            background-size: cover;
            top:100px;
            left:100px;
        }
        #bg_img_3{
            background-image: url('../images/pexels-photo-448835.jpg');
            background-position: center;
            background-size: cover;
            top:200px;
            left:40px;
        }

    }
 
}

// For Responsive View

