html, 
body {
    
    background-color: #D3D3D3;
}

#links{
    position:relative;  
    margin-top: 10px; 
    width:100%;
  
 
    
    #links_section{
        width: 100%;
        padding:200px 100px 200px 100px;
                
        ul{
            
            padding:15px 50px 25px 50px;
            text-align: center;
                       

            li{
                padding: 5px 0px 5px 10px;
                
                a{
                font-size: 24px;
                color: black; 
                font-weight: 700;
                }
                a:hover{
                    color:yellow;
                }
            }
        }

        #link_center{

            padding-left: 30px;
            padding-bottom: 10px;
            
            li{
                
                font-size: 24px;
                font-weight: 700;
            }
           
           
        }
      
        #bg_img_1{
                      
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            background-position: center;
            background-size: cover;
            margin-left:1%;        
            
            
        }
        #bg_img_2{
            color: black;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            overflow: hidden;
            margin-left:6%;
          
                  
        }
        #bg_img_3{
            color: black;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            background-position: center;
            background-size: cover;
            margin-left:6%;
            
        }

    }

    #content-box{
        padding:0px 0px 0px 10px;
        .mb-4,.input-group{
            margin-bottom: 15px !important;
        }
        .md-textarea{

            border-top: none;
            box-shadow: none;
        }
        .md-textarea:hover{

            box-shadow: none;
        }
       
   }
   #published_newz{
    margin-left:0px !important;
    overflow: auto;
    height:300px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: start !important;
    
    li{
        
        border-radius: 20px;
        

        span{
            display: block;
            padding-top:10px;
            padding-left: 5px;
            border-radius: 10px;
        }
    }
    img{
        border-radius: 10px;
        
    }
  
   }

}

// For Responsive View
@media only screen and (max-width: 977px) {
     
    #links{
        margin-top: 0px; 
        #links_section{
            
          
           padding: 200px 0px 200px 0px;
  }

}
}

@media only screen and (max-width: 767px) {
     
    #links{
        
        #links_section{
            
          
           padding: 0px 0px 0px 0px !important;
           #bg_img_1{
            margin-left:0px;        
                       
        }
        #bg_img_2{
            margin-left:0px;
          
                  
        }
        #bg_img_3{
            margin-left:0px;
            
  }

}
}
}