.header {
  width: 100%;
  background-color: #D3D3D3; }
  .header #link_lists {
    width: 100%;
    padding: 15px;
    height: 60px; }
    .header #link_lists li {
      display: inline;
      padding-top: 5px;
      padding-left: 30px; }
    .header #link_lists #user_access {
      float: right;
      display: inline;
      color: blue; }
      .header #link_lists #user_access .fa-user:before {
        font-size: 20px;
        padding: 5px;
        color: blue; }

.modal-dialog .modal-header {
  background-color: aliceblue;
  border-bottom: none; }

.modal-dialog .modal-body {
  padding: 0px 0px 16px 0px; }

.modal-dialog .nav-item {
  text-align: center; }

.modal-dialog #header {
  width: 100%;
  text-align: center; }

.modal-dialog .tab-content {
  padding-top: 10px; }
  .modal-dialog .tab-content span {
    padding: 10px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    background-color: aliceblue; }

.modal-dialog ul {
  border: none; }
  .modal-dialog ul .nav-link {
    border-top: none;
    border-bottom: none; }
  .modal-dialog ul li {
    background-color: #fff;
    transition: 0.8s ease-in-out; }
  .modal-dialog ul li:hover {
    background-color: aliceblue;
    transform: scale(1) translate(5px, 5px); }

.modal-dialog .login_button, .modal-dialog .signup_button {
  text-align: center; }
  .modal-dialog .login_button button, .modal-dialog .signup_button button {
    border-radius: 20px; }

@media only screen and (max-width: 765px) {
  .header #link_lists {
    padding: 15px 5px 5px 5px; }
    .header #link_lists li {
      padding-top: 5px;
      padding-left: 10px; }
      .header #link_lists li a {
        font-size: 12px; }
    .header #link_lists #user_access .fa-user:before {
      font-size: 12px; } }
