#image_slide_show {
  padding: 35px 10px 0px 10px; }
  #image_slide_show img {
    width: 100%;
    height: 900px; }

#next_page_button {
  width: 100%;
  position: absolute;
  top: 850px;
  text-align: center; }
  #next_page_button button {
    width: 10%;
    border-radius: 25px; }

.header {
  display: none; }

.footer {
  display: none; }
