html,
body {
  background-color: #D3D3D3; }

#links {
  position: relative;
  margin-top: 10px;
  width: 100%; }
  #links #links_section {
    width: 100%;
    padding: 200px 100px 200px 100px; }
    #links #links_section ul {
      padding: 15px 50px 25px 50px;
      text-align: center; }
      #links #links_section ul li {
        padding: 5px 0px 5px 10px; }
        #links #links_section ul li a {
          font-size: 24px;
          color: black;
          font-weight: 700; }
        #links #links_section ul li a:hover {
          color: yellow; }
    #links #links_section #link_center {
      padding-left: 30px;
      padding-bottom: 10px; }
      #links #links_section #link_center li {
        font-size: 24px;
        font-weight: 700; }
    #links #links_section #bg_img_1 {
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      background-position: center;
      background-size: cover;
      margin-left: 1%; }
    #links #links_section #bg_img_2 {
      color: black;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      overflow: hidden;
      margin-left: 6%; }
    #links #links_section #bg_img_3 {
      color: black;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      background-position: center;
      background-size: cover;
      margin-left: 6%; }
  #links #content-box {
    padding: 0px 0px 0px 10px; }
    #links #content-box .mb-4, #links #content-box .input-group {
      margin-bottom: 15px !important; }
    #links #content-box .md-textarea {
      border-top: none;
      box-shadow: none; }
    #links #content-box .md-textarea:hover {
      box-shadow: none; }
  #links #published_newz {
    margin-left: 0px !important;
    overflow: auto;
    height: 300px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: start !important; }
    #links #published_newz li {
      border-radius: 20px; }
      #links #published_newz li span {
        display: block;
        padding-top: 10px;
        padding-left: 5px;
        border-radius: 10px; }
    #links #published_newz img {
      border-radius: 10px; }

@media only screen and (max-width: 977px) {
  #links {
    margin-top: 0px; }
    #links #links_section {
      padding: 200px 0px 200px 0px; } }

@media only screen and (max-width: 767px) {
  #links #links_section {
    padding: 0px 0px 0px 0px !important; }
    #links #links_section #bg_img_1 {
      margin-left: 0px; }
    #links #links_section #bg_img_2 {
      margin-left: 0px; }
    #links #links_section #bg_img_3 {
      margin-left: 0px; } }
